{% extends 'base.html' %}

{% block content %}
<pre>



</pre>

<div class="container">

    <h3>Gestion de Usuarios</h3>
    
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Email</th>
            <th scope="col">Accesos</th>
        </tr>
    </thead>
    <tbody id="listado">
        
    </tbody>
</table>


<script>
    window.onload=function(){
        verdatos(); 
    }
</script>

</div>

{%endblock %}