
{% extends 'base.html' %}

{% block content %}
<pre>



</pre>

    <!-- Title page -->
    <section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('static/images/bg-01.jpg');">
        <h2 class="ltext-105 cl0 txt-center">
            Registrarse
        </h2>
    </section>

  
   


    <!-- Content page     -->
    <section class="bg0 p-t-104 p-b-116">
        <div class="container">
            <div class="flex-w flex-tr">
                <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
                    <!-- Alerta -->
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    
                    <div class="alert alert-danger" role="alert">
                        <h4 class="mtext-105 cl2 txt-center p-b-30">
                            {{message}}
                        </h4>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}

                    <!-- Formulario -->
                    <form action="/registrar" method="post">
                        <h4 class="mtext-105 cl2 txt-center p-b-30">
                            Registrarse
                        </h4>

                        <div class="bor8 m-b-20 how-pos4-parent">
                            <!-- <label for="email">Email</label> -->
                            <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="nombre"
                                placeholder="Nombre">
                            <img class="how-pos4 pointer-none" src="{{url_for('static',filename='images/icons/icon-user.png')}}" alt="ICON" height="25"
                                style="opacity:0.25;">
                        </div>

                        <div class="bor8 m-b-20 how-pos4-parent">
                           
                            <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="apellido"
                                placeholder="Apellidos">
                            <img class="how-pos4 pointer-none" src="{{url_for('static',filename='images/icons/icon-user.png')}}" alt="ICON" height="25"
                                style="opacity:0.25;">
                        </div>

                        <div class="bor8 m-b-20 how-pos4-parent">
                            <!-- <label for="email">Email</label> -->
                            <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="email" name="email"
                                placeholder="Email">
                            <img class="how-pos4 pointer-none" src="{{url_for('static',filename='images/icons/icon-email.png')}}" alt="ICON">
                        </div>
                        <div class="bor8 m-b-20 how-pos4-parent">
                            <!-- <label for="email">Email</label> -->
                            <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="password" name="password"
                                placeholder="Contraseña">
                            <img class="how-pos4 pointer-none" src="{{url_for('static',filename='images/icons/icon-pass.ico')}}" alt="ICON" height="20"
                                style="opacity:0.25;">
                        </div>

                        <div class="bor8 m-b-20 how-pos4-parent">
                            <!-- <label for="email">Email</label> -->
                            <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="password" name="password2"
                                placeholder="Validar Contraseña">
                            <img class="how-pos4 pointer-none" src="{{url_for('static',filename='images/icons/icon-pass.ico')}}" alt="ICON" height="20"
                                style="opacity:0.25;">
                        </div>

                      
                    
                       

                        <br>
                        <!-- </div> -->

                        <!-- <div class="bor8 m-b-30">
                            <textarea class="stext-111 cl2 plh3 size-120 p-lr-28 p-tb-25" name="msg"
                                placeholder="How Can We Help?"></textarea>
                        </div> -->


                        <button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
                             Registrarse
                        </button>
                        <br>
                        <a class="flex-c-m stext-101 cl0 size-121 bg5 bor1 hov-btn3 p-lr-15 trans-04 pointer "
                            href="login">Iniciar Sesión  </a>

                    </form>
                </div>
                <!-- Quitar -->
                <div class="size-210 bor10 flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md">
                    <img class="size-120 " src="{{url_for('static',filename='images/blog-01.jpg')}}" alt="imagenbonita">

                </div>
            </div>
        </div>
    </section>


    <!-- Map -->
    <div class="map">
        <div class="size-303" id="google_map" data-map-x="40.691446" data-map-y="-73.886787"
            data-pin="images/icons/pin.png" data-scrollwhell="0" data-draggable="1" data-zoom="11"></div>
    </div>



{% endblock %}